#app
  #loading-indicators
    #loading-indicator__1.loading-indicator
      h1 Loading...
    #loading-indicator__2.loading-indicator
      h1 Loading...
    #loading-indicator__3.loading-indicator
      h1 Loading...